@import "vars"
@import "fonts"
@import "libs"
@import "animations"
@import "_mixins/buttons"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
    overflow-x: hidden

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1
    font-family: $bold
    font-size: 45px
    letter-spacing: 2.25px
    text-transform: uppercase
    color: $accent
h2
    @extend h1
    font-size: 40px
h3
    @extend h1
    font-size: 34px


main
    overflow: hidden
    
.lb-data 
    .lb-close
        float: none
        position: absolute
        top: -50px    
        right: 50px
        
.lb-nav
    a
        opacity: 1!important
    
    
/*  Modal form */

.modal-form
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #fff
    width: 340px
    padding: 30px 25px
    opacity: 0
    display: none
    z-index: 35
    &.services
        width: 361px
    .modal-close
        position: absolute
        top: 20px
        right: 27px
        cursor: pointer
    .modal-top
        margin-top: 30px
        margin-bottom: 32px
        h2
            font-family: $bold
            font-size: 18px
            letter-spacing: .9px
            margin-bottom: 14px
            text-align: center
            color: $accent
        p
            font-family: $semibold
            font-size: 12px
            letter-spacing: -.12px
            line-height: 19px
            color: $text
    .modal-bottom
        .success-message
            padding: 5px
            display: none
            p
                font-family: $semibold
                font-size: 12px
                text-align: center
                margin: 0
                color: $text
        .list-service
            position: relative
            img
                position: absolute
                top: 11px
                right: 17px
                transform: rotate(90deg)
                width: 8px
            input
                cursor: pointer
        input,
        textarea
            font-family: $semibold
            font-size: 12px
            text-align: center
            border-radius: 30px
            border: 1px solid #707070
            padding: 8px
            margin-bottom: 19px
            width: 100%
            &::placeholder
                font-family: $semibold
                font-size: 12px
                letter-spacing: -.12px
                color: $text
                color: #707070
        textarea
            padding: 22px
            height: 120px
            text-align: left
            resize: none
        button
            +feedback-btn
            margin: 0
            border: none
            outline: none
            padding-top: 12px
            padding-bottom: 12px
            width: 100%
        .service-select
            display: none
            background-color: #fff
            padding: 0
            margin: 0
            list-style-type: none
            position: relative
            box-shadow: 0 28px 47px rgba(255, 200, 178, 0.22)
            margin-bottom: 20px
            padding: 15px 5px
            li
                textarea
                    font-family: "Montserrat Light", sans-serif
                    font-size: 12px
                    width: 100%
                    border: none
                    border-bottom: .5px solid rgba(184,184,184, .4)
                    color: rgb(184, 184, 184)
                    margin-top: 30px
                    resize: none
                    &::placeholder
                        font-size: 12px
                        letter-spacing: 1px
                        color: rgb(184, 184, 184)
                input
                    position: absolute
                    z-index: -1
                    opacity: 0
                    margin: 10px 0 0 20px
                    + label
                        position: relative
                        width: 100%
                        cursor: pointer
                        span
                            position: absolute
                            left: 26px
                            top: -6px
                            font-size: 11px
                            color: #707070
                        &::before
                            content: ''
                            position: absolute
                            top: -4px
                            left: 0
                            width: 15px
                            height: 15px
                            border: .5px solid rgba(184,184,184, .4)
                            //box-shadow: inset 0 2px 3px rgba(0,0,0,.2)
                            transition: .2s
                        &::after
                            content: '\2713'
                            font-size: 12px
                            position: absolute
                            top: -6px
                            left: 3px
                            color: transparent
                            transition: .5s
                    &:checked
                        + label
                            &::after
                                color: $accent
            
.modal-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #000
    width: 100%
    height: 100%
    opacity: .35
    z-index: 30
    opacity: 0
    display: none
    cursor: pointer

/*  End modal form */    
    
    
/* HEADER */

.header
    padding: 28px 35px 0 35px
    position: relative
    z-index: 1
    transition: all .35s ease
    &__logo
        img.mobile
            display: none
        svg
            height: 90px
    &__menu
        ul
            padding: 0
            margin: 0
            list-style-type: none
            font-size: 0
            li
                display: inline-block
                margin-right: 4.063vw
                a
                    position: relative
                    font-family: $bold
                    font-size: 14px
                    text-transform: uppercase
                    letter-spacing: 1.4px
                    text-decoration: none
                    padding-bottom: 5px
                    transition: all .35s ease
                    color: #fff
                    &::before
                        content: ""
                        position: absolute
                        left: 50%
                        bottom: 0
                        transform: translateX(-50%)
                        width: 15px
                        height: 2px
                        background-color: $accent
                        opacity: 0
                        transition: all .35s ease
                    &:hover
                        color: $accent
                    &:hover::before
                        opacity: 1
                &:last-child
                    margin-right: 0
                &.active
                    a
                        color: $accent!important
                        &::before
                            opacity: 1
    .call
        +feedback-btn
        margin-left: 4.948vw
    &.sticky
        position: fixed
        width: 100% 
        background-color: #fff
        z-index: 20
        padding-bottom: 28px
        ul
            li
                a
                    color: #000
                    &:hover
                        color: $accent
        .header__hamburger-menu
            span
                background-color: $accent
    &__hamburger-menu
        display: none
        position: relative
        width: 30px
        height: 35px
        z-index: 10
        cursor: pointer
        span
            display: block
            position: absolute
            left: 0
            height: 4px
            width: 100%
            background-color: #fff
            opacity: 1
            transform: rotate(0deg)
            transition: all .35s ease-in-out
            &:nth-child(1)
                top: 0
            &:nth-child(2),
            &:nth-child(3)
                top: 11px
            &:nth-child(4)
                top: 22px
        &.open
            span
                background-color: $accent
                &:nth-child(1)
                    top: 18px
                    width: 0%
                    left: 50%
                &:nth-child(2)
                    transform: rotate(45deg)
                &:nth-child(3)
                    transform: rotate(-45deg)
                &:nth-child(4)
                    top: 18px
                    width: 0%
                    left: 50%
                
        
/* END HEADER */

/* Consultation */

.consultation
    position: relative
    max-height: 1221px
    height: 1221px
    &__content
        position: absolute
        top: 44%
        left: 8.177vw
        transform: translateY(-50%)
        > a
            display: inline-block
            position: relative
            font-family: $bold
            font-size: 14px
            letter-spacing: 1.4px
            text-transform: uppercase
            overflow: hidden
            padding: 14px 27px
            padding-left: 75px
            border: 1px solid rgba(#ff4a41, .2)
            text-align: center
            border-radius: 25px
            margin-bottom: 30px
            text-decoration: none
            color: $text
            span.arrow
                position: absolute
                display: flex
                justify-content: center
                align-items: center
                position: absolute
                top: 0
                left: 0
                width: 14%
                height: 100%
                padding-left: 16px;
                padding-right: 16px
                background-image: linear-gradient(to right, rgba(231,45,71,1) 0%, rgba(255,86,61,1) 29%, rgba(255,156,38,1) 100%)
                border-radius: 25px
                color: #fff
                transition: all .65s ease-in-out
        h1
            font-size: 38px
            margin-bottom: 19px
            max-width: 690px
        p
            font-family: $semibold
            font-size: 19px
            letter-spacing: .47px
            line-height: 29px
            max-width: 630px
            color: $text
    &__background
        position: absolute
        right: -255px
        top: -23%
        width: 74.01vw
        height: 63.594vw
        border-radius: 219px 169px 155px 135px
        transform: rotate(65deg)
        background-color: $accent
        overflow: hidden
        .overlay
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(25, 25, 25, 0.53);    
        img
            position: absolute
            top: 10%
            left: 0
            transform: rotate(-65deg) scale(1.5)
            height: 100%
                
/* End consultation */

/* Experience */

.experience
    margin-top: 310px
    margin-bottom: 250px
    &__carousel
        background-color: transparent!important
        width: 100%!important
        img
            pointer-events: none
            &:hover
                box-shadow: 30px 35px 12px rgba(0, 0, 0, 0.1)
        .carousel-feature
            border: none
            img
                display: block
                max-width: 100%
                height: auto
                pointer-events: none
        .tracker-individual-container
            position: static!important
            display: none!important
            
    &__content
        max-width: 516px
        h3
            margin-bottom: 25px
        p
            font-family: $semibold
            font-size: 14px
            letter-spacing: .35px
            line-height: 24px
            //max-width: 516px
            color: $text
        .slider-pagination
            margin-top: 20px
            ul
                padding: 0
                margin: 0
                list-style-type: none
                font-size: 0
                li
                    display: inline-block
                    margin-right: 10px
                    a
                        font-family: $semibold
                        font-size: 16px
                        opacity: .5
                        color: $accent
                    &.active
                        a
                            opacity: 1
                    &.prev,
                    &.next
                        position: static!important
                        cursor: pointer
                        a
                            opacity: 1
                    &.prev
                        margin-right: 28px
                    &.next
                        margin-left: 28px

/* End experience */


/* Steps */

.steps
    position: relative
    background: linear-gradient(-45deg, #FF7A62, #FF935A, #FFB34F)
    background-size: 400% 400%
    animation: Gradient 7s ease infinite
    padding-top: 111px
    margin-bottom: 325px
    &::after
        content: ""
        position: absolute
        bottom: -41%
        left: -96px
        width: 100%
        height: 100%
        background: linear-gradient(-45deg, #FF7A62, #FF935A, #FFB34F)
        z-index: -1
        transform: rotate(-2deg)
        border-radius: 50% 50% 270% 20%
    //.wrapper
        display: none
        &.active
            display: block
    &__main-caption
        display: flex
        align-items: center
        justify-content: center
        position: relative
        text-align: center
        max-height: 255px
        height: 100%
        > div
            p
                font-family: $bold
                line-height: 70px
                text-transform: uppercase
                letter-spacing: 7.7px    
                margin: 0
                color: #fff
                &:first-child
                    font-size: 77px
                &:last-child
                    font-family: $default-font
                    font-size: 66px
                    letter-spacing: 2.57px
        &::before
            content: ""
            position: absolute
            bottom: 0px
            right: 0
            width: 6px
            height: 270px
            background-color: rgba(255, 255, 255, 0.59)
    &__caption
        margin-left: 60px
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.59)
        .count
            font-family: $bold
            font-size: 18px
            letter-spacing: 1.8px
            margin-right: 10px
            color: #fff
        h4
            font-family: $bold
            font-size: 24px
            text-transform: none
            letter-spacing: 2.4px
            margin-bottom: 24px
            color: #fff
    &__description
        margin-left: 60px
        margin-bottom: 78px
        p
            font-size: 14px
            letter-spacing: .35px
            line-height: 24px
            max-width: 720px //547px
            color: rgba(255, 255, 255, 0.9)
    &__tabs-slider
        box-shadow: 0 28px 47px rgba(255, 200, 178, 0.22)
        .slick-slide
            background-color: #fff
            padding: 35px 24px
            text-align: center
            cursor: pointer
            div
                div
                    a
                        font-family: $bold
                        font-size: 18px
                        letter-spacing: 1.8px
                        text-decoration: none
                        white-space: nowrap
                        outline: none
                        color: $text
            &.slick-current
                background: linear-gradient(-45deg, #FF7A62, #FF935A, #FFB34F)
                background-size: 400% 400%
                a
                    color: #fff
    &__tabs-slider-arrows
        position: absolute
        height: 100%
        top: 50%
        transform: translateY(-50%)
        padding: 0
        margin: 0
        list-style-type: none
        display: flex
        justify-content: space-between
        width: 100%
        pointer-events: none
        li
            position: relative
            width: 40px
            height: 100%
            display: flex
            justify-content: center
            cursor: pointer
            pointer-events: visible
            img
                width: 20px
            //&.prev
            &.next
                background-image: linear-gradient(-45deg,#ff7a62,#ff935a,#ffb34f)
                margin-top: -1px
                .mobile-arrow
                    display: none
    .slider-wrapper
        margin-top: 78px
            
/* End steps */

/* Service */

.mb-col
    margin-bottom: 39px

.service
    margin: 0 253px 244px 253px
    &__desc
        margin-top: 111px
        margin-bottom: 142px
        h2
            margin-bottom: 25px
        p
            font-family: $semibold
            font-size: 14px
            letter-spacing: .35px
            line-height: 24px
            max-width: 565px
            margin-bottom: 25px
            color: $text
        a
            +feedback-btn
            margin-left: 0
    &__item
        position: relative
        overflow: hidden
        box-shadow: 0 3px 30px rgba(255, 200, 178, 0.30)
        height: 459px
        transition: all .35s ease
        .image
            img
                width: 100%
                max-height: 429px
                height: 429px
        &.bigger
            height: 958px
            .image
                height: 878px
                img
                    max-height: none
                    height: 100%
        + a
            +feedback-btn
            display: none
            margin-left: 0
        .desc
            background-color: #fff
            width: 100%
            position: absolute
            bottom: 0
            left: 0
            padding: 41px 20px 41px 26px
            max-height: 120px
            transition: all .35s ease
            h4
                font-family: $bold
                font-size: 16px
                letter-spacing: 1.6px
                line-height: 20px
                margin-bottom: 34px
                max-width: 280px
                color: $text
            p
                font-family: $semibold
                font-size: 14px
                letter-spacing: -.35px
                color: #000
        &.hovered
            box-shadow: 30px 35px 12px rgba(0, 0, 0, 0.1)
            .desc
                background-color: rgba(255,159,104, .66)
                h4,
                p
                    color: #fff
/* End service */


/* Gallery */

.gallery
    margin-bottom: 65px
    &__caption
        margin-bottom: 30px
        h3
            margin-left: 253px
    &__dots
        position: relative
        .slick-dots 
            li 
                button:before
                    width: 19px
                    height: 19px
                    font-size: 70px
                    color: #fff
                &.slick-active
                    button:before
                        color: #fff
                        opacity: 1 
    &__wrapper
        position: relative
        &::before
            content: ""
            position: absolute
            top: 115px
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(-45deg, #FF7A62, #FF935A, #FFB34F)
            background-size: 400% 400%
            animation: Gradient 7s ease infinite
        &::after
            content: ""
            position: absolute
            top: -161px
            right: -88px
            width: 65%
            height: 58%
            background: linear-gradient(-45deg, #FF7A62, #FF935A, #FFB34F)
            background-size: 400% 400%
            animation: Gradient 7s ease infinite
            border-radius: 40% 70% 5% 40%
            transform: rotate(-20deg)
            z-index: -1
        .wave-bg
            display: none
            position: absolute
            top: -191px
            right: 0
            width: 70%
            z-index: -1
    .image
        display: block
        max-height: 337px
        height: 337px
        transition: all .35s ease
        img
            filter: brightness(100%)
            height: 100%
            width: 100%
            transition: all .35s ease
        &.main
            max-height: 704px
            height: 704px
        &.top
            margin-bottom: 30px
        &:hover
            box-shadow: 30px 35px 12px rgba(120, 39, 6, 0.14)
            img
                filter: brightness(85%)
                
    &__logo
        margin-top: 32px
        margin-bottom: 45px
        img
            position: relative
            
    .gallery-slider
        &.mobile
            display: none
    &__arrows
        display: none
        position: absolute
        top: 12px
        width: 100%
        ul
            padding: 0
            margin: 0
            list-style-type: none
            display: flex
            justify-content: space-between
            width: 100%
            pointer-events: none
            li
                pointer-events: visible
                &:first-child
                    margin-left: 15px
                &:last-child
                    margin-right: 15px

/* End gallery */

/* Footer */

.back-to-top
    position: fixed
    bottom: 25px
    left: 25px
    display: none
    justify-content: center
    align-items: center
    border-radius: 50%
    width: 43px
    height: 43px
    background-image: linear-gradient(to right,#e72d47 0,#ff563d 29%,#ff9c26 100%)
    cursor: pointer
    z-index: 2
    img
        position: absolute
        top: 33%
        left: 33%
        width: 15px
        height: 15px
        transform: rotate(-90deg)

.footer
    position: relative
    background-color: $text
    padding: 60px 0 5px 0
    &__top
        position: absolute
        top: -20px
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: center
        border-radius: 50%
        width: 40px
        height: 40px
        background-image: linear-gradient(to right,#e72d47 0,#ff563d 29%,#ff9c26 100%)
        cursor: pointer
        img
            transform: rotate(-90deg)
    &__copyright
        position: absolute
        bottom: 0
        span
            font-family: "Montserrat Light", sans-serif
            font-size: 12px
            letter-spacing: .78px
            color: #fff
    &__socials
        padding: 0
        margin: 0
        list-style-type: none
        display: inline-block
        li
            display: inline-block
            margin-right: 34px
            &:last-child
                margin-right: 0
            &:hover
                a
                    svg
                        use
                            fill: #ffc8b2
    &__contacts
        margin-bottom: 31px
        .sub-container
            display: flex
            align-items: center
            margin-top: 23px
            a
                font-family: $bold
                font-size: 16px
                letter-spacing: .4px
                text-decoration: none
                line-height: 24px
                color: #fff
            div
                &:first-child
                    margin-right: 25px
                &:last-child
                    margin-left: 25px
            .space
                font-family: "Montserrat Light", sans-serif
                font-size: 30px
                line-height: 30px
                color: #fff
    &__created
        position: absolute
        bottom: 0
        right: 23px
        a
            text-decoration: none
        span
            font-family: "Montserrat Light", sans-serif
            font-size: 12px
            letter-spacing: .78px
            margin-right: 8px
            color: #fff
        
/* End footer */




@import 'media'